In [281]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
import re

In [282]:
pd.set_option('display.max_colwidth', None)
column_names = ['target', 'ids', 'date', 'flag', 'user', 'text']

df = pd.read_csv('../Data/Twitter/data.csv', encoding = 'latin1', header=None, names=column_names)
df

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best feeling ever
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interviews! â« http://blip.fm/~8bmta
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me for details
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H

In [283]:
drop_columns = ['ids', 'date', 'flag', 'user']
df.drop(columns=drop_columns, axis=1, inplace=True)
df.head(20)

,target,text
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,my whole body feels itchy and like its on fire
4,0,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
5,0,@Kwesidei not the whole crew
6,0,Need a hug
7,0,"@LOLTrish hey long time no see! Yes.. Rains a bit ,only a bit LOL , I'm fine thanks , how's you ?"
8,0,@Tatiana_K nope they didn't have it
9,0,@twittera que me muera ?
10,0,spring break in plain city... it's snowing
11,0,I just re-pierced my ears
12,0,@caregiving I couldn't bear to watch it. And I thought the UA loss was embarrassing . . . . .
13,0,"@octolinz16 It it counts, idk why I did either. you never talk to me anymore"
14,0,"@smarrison i would've been the first, but i didn't have a gun. not really though, zac snyder's just a doucheclown."
15,0,@iamjazzyfizzle I wish I got to watch it with you!! I miss you and @iamlilnicki how was the premiere?!
16,0,Hollis' death scene will hurt me severely to watch on film wry is directors cut not out now?
17,0,about to file taxes
18,0,@LettyA ahh ive always wanted to see rent love the soundtrack!!
19,0,@FakerPattyPattz Oh dear. Were you drinking out of the forgotten table drinks?

In [284]:
df['target'].value_counts()

0    800000
4    800000
Name: target, dtype: int64

In [285]:
df['target'].replace({0:-1,4:1},inplace=True)

In [286]:
df.describe()

          target
count  1600000.0
mean         0.0
std          1.0
min         -1.0
25%         -1.0
50%          0.0
75%          1.0
max          1.0

In [287]:
#Removing stop words
nltk.download('stopwords')
print(f'removing stopwords from the following languages: {stopwords.fileids()}')
stop_words = set()
for language in stopwords.fileids():
    stop_words.update(stopwords.words(language))
# stop_words = set(stopwords.words('english'))
df['text'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word.lower() not in stop_words]))
df.head(20)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\cjlongoria\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

removing stopwords from the following languages: ['arabic', 'azerbaijani', 'basque', 'bengali', 'catalan', 'chinese', 'danish', 'dutch', 'english', 'finnish', 'french', 'german', 'greek', 'hebrew', 'hinglish', 'hungarian', 'indonesian', 'italian', 'kazakh', 'nepali', 'norwegian', 'portuguese', 'romanian', 'russian', 'slovene', 'spanish', 'swedish', 'tajik', 'turkish']

,target,text
0,-1,"@switchfoot http://twitpic.com/2y1zl - Awww, bummer. shoulda David Carr Day it. ;D"
1,-1,upset update Facebook texting it... cry result School today also. Blah!
2,-1,@Kenichan dived times ball. Managed save 50% rest bounds
3,-1,body feels itchy fire
4,-1,"@nationwideclass no, behaving all. mad. here? there."
5,-1,@Kwesidei crew
6,-1,hug
7,-1,"@LOLTrish hey long time see! Yes.. Rains bit ,only bit , fine , how's ?"
8,-1,@Tatiana_K
9,-1,@twittera muera ?
10,-1,spring break plain city... snowing
11,-1,re-pierced ears
12,-1,@caregiving bear watch it. UA loss embarrassing . . . . .
13,-1,"@octolinz16 counts, either. talk anymore"
14,-1,"@smarrison would've first, gun. though, zac snyder's doucheclown."
15,-1,@iamjazzyfizzle wish watch you!! miss @iamlilnicki premiere?!
16,-1,Hollis' death scene hurt severely watch film wry directors cut now?
17,-1,file taxes
18,-1,@LettyA ahh ive wanted rent love soundtrack!!
19,-1,@FakerPattyPattz dear. drinking forgotten table drinks?

In [289]:
# Remove urls
url_pattern = re.compile(r'https?://\S+|www\.\S+|\b\w+\.com\b|\b\w+\.org\b')
df['text'] = df['text'].apply(lambda x: url_pattern.sub('', x))
df

,target,text
0,-1,"@switchfoot - Awww, bummer. shoulda David Carr Day it. ;D"
1,-1,upset update Facebook texting it... cry result School today also. Blah!
2,-1,@Kenichan dived times ball. Managed save 50% rest bounds
3,-1,body feels itchy fire
4,-1,"@nationwideclass no, behaving all. mad. here? there."
...,...,...
1599995,1,woke up. school feeling
1599996,1,- cool hear Walt interviews! â«
1599997,1,ready Makeover? details
1599998,1,Happy 38th Birthday boo alll time!!! Tupac Amaru Shakur
1599999,1,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H

In [291]:
#removing usernames
username_pattern = re.compile(r'@\w+')
df['text'] = df['text'].apply(lambda x: username_pattern.sub('', x))
df

,target,text
0,-1,"- Awww, bummer. shoulda David Carr Day it. ;D"
1,-1,upset update Facebook texting it... cry result School today also. Blah!
2,-1,dived times ball. Managed save 50% rest bounds
3,-1,body feels itchy fire
4,-1,"no, behaving all. mad. here? there."
...,...,...
1599995,1,woke up. school feeling
1599996,1,- cool hear Walt interviews! â«
1599997,1,ready Makeover? details
1599998,1,Happy 38th Birthday boo alll time!!! Tupac Amaru Shakur
1599999,1,happy #charitytuesday

In [292]:
df.head(20)

,target,text
0,-1,"- Awww, bummer. shoulda David Carr Day it. ;D"
1,-1,upset update Facebook texting it... cry result School today also. Blah!
2,-1,dived times ball. Managed save 50% rest bounds
3,-1,body feels itchy fire
4,-1,"no, behaving all. mad. here? there."
5,-1,crew
6,-1,hug
7,-1,"hey long time see! Yes.. Rains bit ,only bit , fine , how's ?"
8,-1,
9,-1,muera ?
10,-1,spring break plain city... snowing
11,-1,re-pierced ears
12,-1,bear watch it. UA loss embarrassing . . . . .
13,-1,"counts, either. talk anymore"
14,-1,"would've first, gun. though, zac snyder's doucheclown."
15,-1,wish watch you!! miss premiere?!
16,-1,Hollis' death scene hurt severely watch film wry directors cut now?
17,-1,file taxes
18,-1,ahh ive wanted rent love soundtrack!!
19,-1,dear. drinking forgotten table drinks?

### Too much cleaning
<p> I noticed row 8 was completely empty in the cell above, so I paused data cleaning to figure out what happened. It turns out that using the stop words from every language eliminated too many words. For example the word "need" isn't considered a stop word in the English corpus, but it is in the Hinglish corpus.

In [294]:
for i in stopwords.fileids():
    try: 
        stopwords.words(i).index('need')
        print(i)
    except:
        print(f'Not found in {i}')

Not found in arabic
Not found in azerbaijani
Not found in basque
Not found in bengali
Not found in catalan
Not found in chinese
Not found in danish
Not found in dutch
Not found in english
Not found in finnish
Not found in french
Not found in german
Not found in greek
Not found in hebrew
hinglish
Not found in hungarian
Not found in indonesian
Not found in italian
Not found in kazakh
Not found in nepali
Not found in norwegian
Not found in portuguese
Not found in romanian
Not found in russian
Not found in slovene
Not found in spanish
Not found in swedish
Not found in tajik
Not found in turkish